html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.nav {
    display: flex;
    justify-content:  space-between;
    padding: 8px;
}
.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-content-img {
    height: 92px;
    width: 272px;
}
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    background-color: gray;
}
/* TO DO: add hidden container formatting to push google logo up from the center */
