html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.nav {
    display: flex;
    justify-content:  space-between;
    padding: 8px;
}
.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.material-icons-outlined {
    font-family: 'search', serif;
    }
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(73, 75, 73);
    border-radius: 2em;
}
.search-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    background-color: gray;
}
/* TO DO: add hidden container formatting to push google logo up from the center */
